@media all and (min-width: 768px), print {
  .brand-images .brands-letter {
    padding-right: 10px;
    width: inherit;
  }
  .brand-images {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .am-brands-fullwidth {
    width: 100% !important;
  }
}
@media all and (min-width: 1024px), print {
  .ambrands-search-wrapper {
    float: right;
    width: 20%;
  }
  .brand-images .brands-letter {
    padding-right: 35px;
    width: inherit;
  }
  .brand-images .brands-letter .brand-item {
    margin: 0 10px 20px;
  }
  .amslider .slide {
    margin: 0 20px 20px 0;
    max-width: 32%;
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .ambrands-list-popup {
    position: absolute;
    display: block;
    width: 600px;
    height: 450px;
    background: #fff;
    box-shadow: 0 0 1px 1px #ccc;
    opacity: 0;
    transition: all 0.5s ease;
    pointer-events: none;
  }
  .ambrands-menu-item:hover .ambrands-list-popup {
    opacity: 1;
    pointer-events: auto;
  }
  .ambrands-list-container {
    height: 100%;
    font-size: 0;
  }
  .ambrands-popup-filter {
    display: inline-block;
    box-sizing: border-box;
    width: 27%;
    height: 100%;
    padding: 20px;
    font-size: 0;
    vertical-align: top;
    text-align: center;
    background: #f0f0f0;
  }
  .ambrands-popup-filter .ambrands-letter {
    display: inline-block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    color: #333;
  }
  .ambrands-popup-filter .ambrands-letter:hover {
    color: #333;
    text-decoration: none;
    background: #ccc;
  }
  .ambrands-popup-filter .ambrands-letter.-disabled {
    background-color: #f1f1f1;
    opacity: 0.6;
    pointer-events: none;
  }
  .ambrands-popup-filter .ambrands-letter.-active {
    color: #fff;
    background: #f58d0f;
  }
  .ambrands-popup-filter .ambrands-letter.-letter-all {
    width: 100%;
    margin-bottom: 15px;
  }
  .ambrands-popup-items {
    display: inline-block;
    box-sizing: border-box;
    width: 73%;
    height: 100%;
    padding: 20px;
    overflow: auto;
    font-size: 14px;
  }
  .ambrands-popup-items .brand-images .brands-letter {
    width: 100%;
    padding: 0;
  }
  .ambrands-popup-items .brand-item {
    text-align: center;
  }
  .ambrands-popup-items .brand-item .label:before {
    content: none;
  }
  .ambrands-popup-items .brand-item .count {
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
  .ambrands-popup-items .brand-images .brands-letter .brand-item {
    margin: 0 20px 20px 0;
  }
  .ambrands-popup-items .letter {
    margin-bottom: 15px;
  }
}
@media all and (min-width: 1440px), print {
  .brands-filters .letter {
    margin: 0;
    border-radius: 0;
    border-right: none;
  }
  .brands-filters .letter-all {
    margin-right: 20px;
  }
  .brands-filters .letter:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .brands-filters .letter:last-child {
    border-right: 1px solid #CCC;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .amslider .wrapper {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
  }
}
.columns .column.main {
  max-width: 100%;
}
.ui-tooltip.ui-widget {
  padding: 5px 10px;
  max-width: 250px;
  border: 1px solid #cccccc;
  box-shadow: 1px 0 3px #cccccc;
  word-wrap: break-word;
  background: #fff;
}
.ui-tooltip .arrow {
  position: absolute;
  left: 15px;
  bottom: -15px;
  width: 20px;
  height: 15px;
}
.ui-tooltip .arrow::after {
  content: "";
  position: absolute;
  border-top: 10px solid #cccccc;
  border-right: 20px solid transparent;
}
.ui-tooltip .arrow::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 1px;
  border-top: 9px solid #fff;
  border-right: 19px solid transparent;
  z-index: 9;
}
.ui-tooltip .arrow.top {
  top: -15px;
  transform: scale(1, -1);
}
.ui-tooltip .am-brand-small_image {
  margin: auto;
  display: block;
  max-width: 150px;
}
.ui-tooltip .am-brand-image {
  margin: auto;
  display: block;
  max-width: 400px;
}
.ui-tooltip .ui-tooltip-content h3 {
  margin: 5px 0;
}
.amslider * {
  margin: 0;
  padding: 0;
}
.amslider {
  position: relative;
  margin: 30px auto;
}
.amslider .swiper-pagination {
  position: static;
  margin-top: 15px;
}
.amslider .swiper-container > .wrapper {
  text-align: center;
}
.amslider .swiper-slide .brand-title {
  color: #4f4f4f;
  font-size: 15px;
  line-height: 1.2;
}
.amslider .swiper-pagination-bullet {
  margin: 0 5px;
  width: 12px;
  height: 12px;
}
.amslider .swiper-pagination-bullet-active {
  background: #4f4f4f;
}
.amslider .swiper-button-next {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iNDMiIHZpZXdCb3g9IjAgMCAyNSA0MyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48dGl0bGU+VmVjdG9yPC90aXRsZT48ZGVzYz5DcmVhdGVkIHVzaW5nIEZpZ21hPC9kZXNjPjxnIGlkPSJDYW52YXMiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE0NTMgNzkwKSI+PGcgaWQ9IlZlY3RvciI+PHVzZSB4bGluazpocmVmPSIjcGF0aDBfc3Ryb2tlIiB0cmFuc2Zvcm09Im1hdHJpeCgtMSAwIDAgMSAtMTQzMC4zNSAtNzg4LjY0NikiIGZpbGw9IiM0RjRGNEYiLz48L2c+PC9nPjxkZWZzPjxwYXRoIGlkPSJwYXRoMF9zdHJva2UiIGQ9Ik0gNi4xMzcwNGUtMDUgMTkuOTM5M0wgLTEuMDQxOTYgMTguODYwNEwgLTIuMTM5OSAxOS45MjA3TCAtMS4wNjA2IDIxTCA2LjEzNzA0ZS0wNSAxOS45MzkzWk0gMTkuNjA0NCAtMS4wNzg5N0wgLTEuMDQxOTYgMTguODYwNEwgMS4wNDIwOSAyMS4wMTgzTCAyMS42ODg1IDEuMDc4OTdMIDE5LjYwNDQgLTEuMDc4OTdaTSAtMS4wNjA2IDIxTCAxOC45MzkzIDQxTCAyMS4wNjA3IDM4Ljg3ODdMIDEuMDYwNzIgMTguODc4N0wgLTEuMDYwNiAyMVoiLz48L2RlZnM+PC9zdmc+);
}
.amslider .swiper-button-prev {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iNDMiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjx1c2UgeGxpbms6aHJlZj0iI3BhdGgwX3N0cm9rZSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMi43MSAxLjM1NCkiIGZpbGw9IiM0RjRGNEYiLz48ZGVmcz48cGF0aCBpZD0icGF0aDBfc3Ryb2tlIiBkPSJNMCAxOS45NGwtMS4wNDItMS4wOC0xLjA5OCAxLjA2TC0xLjA2IDIxIDAgMTkuOTR6TTE5LjYwNC0xLjA4bC0yMC42NDYgMTkuOTQgMi4wODQgMi4xNTdMMjEuNjkgMS4wOGwtMi4wODUtMi4xNTh6TS0xLjA2IDIxbDIwIDIwIDIuMTIyLTIuMTIxLTIwLTIwTC0xLjA2MSAyMXoiLz48L2RlZnM+PC9zdmc+);
}
.amslider .swiper-slide {
  text-align: center;
  font-size: 18px;
}
.amslider .category-item .category-item-title {
  margin: auto;
}
.amslider .slide .category-item-title,
.amslider .swiper-slide .swiper-category-item {
  font-size: 15px;
  line-height: 1.2;
  word-break: break-word;
}
.amslider .wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.amslider .no-img {
  margin: auto;
}
.brands-filters {
  display: inline-block;
  margin: 0 0 10px;
  width: 100%;
  min-height: 50px;
}
.brands-filters .letter {
  display: block;
  float: left;
  margin: 0 5px 10px;
  padding: 2px 5px;
  min-width: 17px;
  min-height: 20px;
  text-align: center;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #CCC;
  border-radius: 5px;
  background: #e2e2e2;
}
.brands-filters .letter-all {
  min-width: 90px;
  margin-right: 20px;
}
.brands-filters .letters {
  margin-top: 4px;
}
.brands-filters .letter.-disabled {
  opacity: 0.6;
  pointer-events: none;
  background-color: #f1f1f1;
}
.brands-filters .letter.hide {
  display: none;
}
.brands-filters .letter:hover,
.brands-filters .letter.-active {
  background: #fed285;
}
.ambrands-search-wrapper {
  position: relative;
  display: block;
  margin: 0 auto;
}
.ambrands-search-wrapper .ambrands-search-input {
  display: block;
  margin: 0 0 10px;
  max-width: 100%;
}
.ambrands-search-wrapper #livesearch {
  position: absolute;
  display: none;
  width: 365px;
  max-width: 100%;
  max-height: 250px;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #c2c2c2;
  border-top: 2px solid #309ef3;
  z-index: 99;
}
.ambrands-search-wrapper #livesearch a {
  display: block;
  float: left;
  padding: 5px 10px;
  width: 100%;
  color: #000;
  box-sizing: border-box;
}
.ambrands-search-wrapper #livesearch a:hover {
  background-color: #e8e8e8;
  text-decoration: none;
}
.brand-images .brands-letter {
  width: 100%;
  vertical-align: top;
  box-sizing: border-box;
}
.brand-images .brands-letter .bare-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
}
.brand-images .brands-letter .letter {
  border-bottom: 1px solid #b2b2b2;
  font-size: 18px;
  font-weight: 400;
}
.brand-images .brands-letter .letter .title {
  padding: 0 2px 1px;
  text-transform: uppercase;
  background: #e2e2e2;
}
.brands-letter .brand-item {
  position: relative;
  margin: 0 5px 20px;
}
.brands-letter .brand-item .item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  color: #333;
  -webkit-justify-content: flex-start;
}
.brands-letter .brand-item .item:hover {
  text-decoration: none;
}
.brands-letter .brand-item .no-img {
  color: #e2e2e2;
}
.brands-letter .brand-item .count {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  box-sizing: border-box;
  min-width: 25px;
  height: 25px;
  padding: 0 3px;
  line-height: 25px;
  text-align: center;
  background: #F58C12;
  border-radius: 20px;
  color: #fff;
}
.brands-letter .brand-item .label {
  position: relative;
  margin: 5px 0 0;
  padding-top: 5px;
  width: 100%;
  word-wrap: break-word;
}
.brands-letter .brand-item .label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 25%;
  right: 25%;
  display: block;
  height: 1px;
  background: #b2b2b2;
}
.brands-letter .brand-item .item:hover .label:before {
  left: 0;
  right: 0;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.brands-letter .brand-item .am-image-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.brands-letter .brand-item .am-image-wrapper .am-image {
  max-width: 100%;
  max-height: 100%;
}
.amslider-header-container {
  padding: 5px 0 5px 35px;
  height: 35px;
  font-size: 22px;
  line-height: 35px;
  color: #000;
  background: #e2e2e2;
}
.icon .brand-label {
  float: left;
}
.brand-images li.brand-item {
  list-style-type: none;
  text-align: center;
}
ul.bare-list img {
  display: block;
  margin: 0 auto;
}
.children-category .amslider {
  position: relative;
  left: inherit;
  margin: 0 50px;
  width: 100%;
  transform: inherit;
  display: block;
}
.amslider.am-brand-slider {
  max-width: 100%;
  padding: 0;
}
.amslider.am-brand-slider .swiper-brand {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.amslider.am-brand-slider .am-image-wrapper {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin: auto;
}
.amslider.am-brand-slider .am-image-wrapper .am-image {
  max-width: 100%;
  max-height: 100%;
}
.amslider.am-brand-slider .slide {
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
}
.amslider.am-brand-slider .slide .am-image-wrapper {
  margin-bottom: 10px;
  overflow: hidden;
}
.amslider.am-brand-slider .swiper-slide {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  height: auto;
}
.amslider .slide {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  margin: 0 9px 20px 0;
  max-width: 30%;
  -webkit-flex-basis: 30%;
  flex-basis: 30%;
  text-align: center;
  color: #4f4f4f;
}
.amslider .slide .category-item {
  position: relative;
  padding: 10px;
  width: 100%;
  border: 1px solid #fff;
}
.amslider .slide .category-item:hover,
.amslider .slide .category-item.active {
  box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.3);
  border-color: #bbb;
  position: relative;
  z-index: 2;
  padding: 10px;
}
.amslider .slide .category-item.category-item-label img {
  margin-bottom: 25px;
}
.amslider .slide .swiper-brand .am-image {
  height: auto;
}
.children-category-container.swiper-container {
  width: calc(100% - 2 * 27px);
  margin: auto;
}
.children-category-container .swiper-wrapper {
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  align-items: baseline;
}
.amslider .swiper-slide {
  padding: 10px;
  box-sizing: border-box;
  color: #4f4f4f;
}
.amslider .swiper-slide .swiper-category-item {
  padding: 10px 0;
  border: 1px solid #fff;
}
.amslider .swiper-slide .swiper-category-item img {
  height: auto;
}
.amslider .swiper-slide .swiper-category-item.category-item-label img {
  margin-bottom: 25px;
}
.amslider .swiper-slide .swiper-category-item:hover,
.amslider .swiper-slide .swiper-category-item.active {
  background: #ffffff;
  box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid #bbb;
  margin: 0;
}
.amslider .swiper-slide .swiper-brand .no-img {
  display: inline-block;
  margin-bottom: 15px;
  color: #e2e2e2;
}
.amslider .swiper-slide:hover,
.amslider .slide:hover {
  text-decoration: none;
}
#category-carousel .swiper-button-next {
  right: 0;
}
#category-carousel .swiper-button-prev {
  left: 0;
}
#category-carousel .swiper-button-next,
#category-carousel .swiper-button-prev {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0.3;
  height: 100%;
  margin: 0;
}
#category-carousel .swiper-button-next:hover,
#category-carousel .swiper-button-prev:hover {
  opacity: 1;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.amslider .swiper-slide .swiper-category-item:not(:root:root),
.amslider .swiper-slide .swiper-brand:not(:root:root),
.amslider .slide .category-item:not(:root:root) {
  padding: 10px;
}
.amshopby-morefrom .products-grid .product-item {
  width: auto;
}
.amshopby-morefrom .product-image-container {
  min-width: auto;
}
.ambrands-menu-item.parent .ambrands-link.level-top:after {
  content: '';
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .swiper-brand {
    width: 100%;
  }
  .swiper-brand .no-img {
    width: 100%;
  }
}
.ambrands-list-popup,
.ambrands-menu-item .ambrands-arrow {
  display: none;
}
