@charset "utf-8";

/**
 * LAYOUT
 */

.content-item
{
    margin: 24px auto;
}

.ct-view
{
    position: relative;
    clear: both;
}

.ct-view .ct-column
{
    display: block;
    margin-bottom: 10px;
    float: left;
}

.ct-view .ct-column-top
{
    width: 100%;
    clear: both;
}

.ct-view .ct-column-middle
{
    width: 100%;
    margin-bottom: 10px;
    clear: both;
}

.ct-view .ct-column-bottom
{
    width: 100%;
    margin-top: 10px;
    clear: both;
}

.ct-view .ct-column-main
{
    display: inline-block;
}

.ct-view .ct-column-main-half
{
    display: inline-block;
}

.ct-view .ct-width-25
{
    width: 24%;
}

.ct-view .ct-width-33
{
    width: 32.5%;
}

.ct-view .ct-width-50
{
    width: 49.5%;
}

.ct-view .ct-width-50-mid
{
    width: 49%;
    margin: 0 1%;
}

.ct-view .ct-width-33-mid
{
    width: 32.5%;
    margin: 0 0.833%;
}

.ct-view .ct-float-right
{
    float: right;
}

.ct-field-product
{
    padding-top: 3rem;
    position: relative;
}
