<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Shopby
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Amasty_Shopby:etc/config.xsd">
    <preference for="Amasty\Shopby\Api\CmsPageRepositoryInterface" type="Amasty\Shopby\Model\Cms\PageRepository"/>
    <preference for="Amasty\Shopby\Api\Data\GroupAttrRepositoryInterface"
                type="Amasty\Shopby\Model\GroupAttrRepository"/>
    <preference for="Amasty\Shopby\Api\GroupRepositoryInterface"
                type="Amasty\Shopby\Model\ResourceModel\GroupRepository" />

    <virtualType name="Magento\Elasticsearch6\Model\Adapter\FieldMapper\ProductFieldMapper"
                 type="Magento\Elasticsearch\Elasticsearch5\Model\Adapter\FieldMapper\ProductFieldMapper">
        <arguments>
            <argument name="fieldProvider" xsi:type="object">elasticsearch5FieldProvider</argument>
            <argument name="fieldNameResolver" xsi:type="object">elasticsearch6FieldNameResolver</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\CatalogSearch\Block\SearchResult\ListProduct"
                 type="Magento\Catalog\Block\Product\ListProduct">
        <arguments>
            <argument name="catalogLayer" xsi:type="object">Magento\Catalog\Model\Layer\Search</argument>
        </arguments>
    </virtualType>

    <virtualType name="Amasty\Shopby\Model\Layer\Cms\Context" type="Magento\Catalog\Model\Layer\Context">
        <arguments>
            <argument name="collectionProvider" xsi:type="object">Amasty\Shopby\Model\Layer\Cms\ItemCollectionProvider</argument>
            <argument name="stateKey" xsi:type="object">Magento\Catalog\Model\Layer\Category\StateKey</argument>
            <argument name="collectionFilter" xsi:type="object">Magento\Catalog\Model\Layer\Category\CollectionFilter</argument>
        </arguments>
    </virtualType>

    <virtualType name="Amasty\Shopby\Model\Layer\Cms" type="Magento\Catalog\Model\Layer">
        <arguments>
            <argument name="context" xsi:type="object">Amasty\Shopby\Model\Layer\Cms\Context</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Catalog\Model\Layer\Resolver">
        <arguments>
            <argument name="layersPool" xsi:type="array">
                <item name="amshopby_cms" xsi:type="string">Amasty\Shopby\Model\Layer\Cms</item>
            </argument>
        </arguments>
    </type>

    <type name="Amasty\Shopby\Model\Layer\Cms\ItemCollectionProvider">
        <arguments>
            <argument name="collectionFactory"
                      xsi:type="object">Magento\CatalogSearch\Model\ResourceModel\Fulltext\CollectionFactory</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Search\Dynamic\Algorithm\Repository">
        <arguments>
            <argument name="algorithms" xsi:type="array">
                <item name="auto" xsi:type="string">Magento\Framework\Search\Dynamic\Algorithm\Auto</item>
                <item name="manual" xsi:type="string">Magento\Framework\Search\Dynamic\Algorithm\Manual</item>
                <item name="improved" xsi:type="string">Magento\Framework\Search\Dynamic\Algorithm\Improved</item>
                <item name="group_manual" xsi:type="string">Amasty\Shopby\Model\Search\Dynamic\Algorithm\GroupManual</item>
            </argument>
        </arguments>
    </type>

    <type name="Amasty\Shopby\Plugin\Elasticsearch\Model\Adapter\AdditionalFieldMapper">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="rating_summary" xsi:type="string">integer</item>
                <item name="stock_status" xsi:type="string">integer</item>
                <item name="am_is_new" xsi:type="string">integer</item>
                <item name="am_on_sale"
                      xsi:type="object">Amasty\Shopby\Plugin\Elasticsearch\Model\Adapter\FieldMapper\OnSale</item>
            </argument>
        </arguments>
    </type>

    <type name="Amasty\Shopby\Plugin\Elasticsearch\Model\Adapter\AdditionalDataMapper">
        <arguments>
            <argument name="dataMappers" xsi:type="array">
                <item name="rating_summary"
                      xsi:type="object">Amasty\Shopby\Plugin\Elasticsearch\Model\Adapter\DataMapper\RatingSummary</item>
                <item name="am_is_new"
                      xsi:type="object">Amasty\Shopby\Plugin\Elasticsearch\Model\Adapter\DataMapper\IsNew</item>
                <item name="stock_status"
                      xsi:type="object">Amasty\Shopby\Plugin\Elasticsearch\Model\Adapter\DataMapper\StockStatus</item>
                <item name="am_on_sale"
                      xsi:type="object">Amasty\Shopby\Plugin\Elasticsearch\Model\Adapter\DataMapper\OnSale</item>
            </argument>
        </arguments>
    </type>

    <type name="Amasty\Shopby\Plugin\Elasticsearch\Model\Adapter\AdditionalBatchDataMapper">
        <arguments>
            <argument name="dataMappers" xsi:type="array">
                <item name="rating_summary"
                      xsi:type="object">Amasty\Shopby\Plugin\Elasticsearch\Model\Adapter\DataMapper\RatingSummary</item>
                <item name="am_is_new"
                      xsi:type="object">Amasty\Shopby\Plugin\Elasticsearch\Model\Adapter\DataMapper\IsNew</item>
                <item name="stock_status"
                      xsi:type="object">Amasty\Shopby\Plugin\Elasticsearch\Model\Adapter\DataMapper\StockStatus</item>
                <item name="am_on_sale"
                      xsi:type="object">Amasty\Shopby\Plugin\Elasticsearch\Model\Adapter\DataMapper\OnSale</item>
            </argument>
        </arguments>
    </type>

    <type name="Amasty\Shopby\Plugin\Elasticsearch\SearchAdapter\Aggregation\Builder\Term">
        <arguments>
            <argument name="bucketBuilders" xsi:type="array">
                <item name="rating_summary"
                      xsi:type="object">Amasty\Shopby\Plugin\Elasticsearch\Model\Adapter\BucketBuilder\RatingSummary</item>
                <item name="am_is_new"
                      xsi:type="object">Amasty\Shopby\Plugin\Elasticsearch\Model\Adapter\BucketBuilder\IsNew</item>
                <item name="am_on_sale"
                      xsi:type="object">Amasty\Shopby\Plugin\Elasticsearch\Model\Adapter\BucketBuilder\OnSale</item>
            </argument>
        </arguments>
    </type>

    <type name="Amasty\ShopbyBase\Model\FilterSetting">
        <arguments>
            <argument name="groupAttributeDataFactoryProvider"
                      xsi:type="object">Amasty\Shopby\Model\GroupAttr\DataProviderFactory</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Magento\Cms\Api\Data\PageInterface" xsi:type="array">
                    <item name="create" xsi:type="array">
                        <item name="amastyCmsPageCreator"
                              xsi:type="string">Amasty\Shopby\Model\ResourceModel\Cms\Relation\SaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="amastyCmsPageUpdater"
                              xsi:type="string">Amasty\Shopby\Model\ResourceModel\Cms\Relation\SaveHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Cms\Model\Page">
        <plugin name="Amasty_Shopby::cmsPage" type="\Amasty\Shopby\Plugin\Cms\Model\Page" sortOrder="1"/>
    </type>
    <type name="Magento\Catalog\Model\Indexer\Product\Eav\Action\Full">
        <plugin name="Amasty_Shopby::EavReindexGroupOption"
                type="Amasty\Shopby\Plugin\Catalog\Model\Indexer\Product\Eav\Action\Full"/>
    </type>
    <!--Elasticsearch plugins-->
    <type name="Magento\CatalogSearch\Model\Indexer\Fulltext\Action\DataProvider">
        <plugin name="Amasty_Shopby::Fulltext_DataProvider"
                type="Amasty\Shopby\Plugin\CatalogSearch\Model\Indexer\Fulltext\Action\DataProvider"/>
    </type>
    <type name="Amasty\ElasticSearch\Model\Indexer\Data\Product\ProductDataMapper">
        <plugin name="Amasty_Shopby::Fulltext_DataProvider"
                type="Amasty\Shopby\Plugin\AmastyElastic\Model\Indexer\Data\Product\ProductDataMapper"/>
    </type>
    <!--======================================================================-->
    <type name="Magento\Elasticsearch\Model\Adapter\DataMapper\ProductDataMapper">
        <plugin name="Amasty_Shopby::AdditionalDataMapper"
                type="Amasty\Shopby\Plugin\Elasticsearch\Model\Adapter\AdditionalDataMapper"/>
    </type>
    <type name="Magento\Elasticsearch\Elasticsearch5\Model\Adapter\DataMapper\ProductDataMapper">
        <plugin name="Amasty_Shopby::AdditionalDataMapper5"
                type="Amasty\Shopby\Plugin\Elasticsearch\Model\Adapter\AdditionalDataMapper"/>
    </type>
    <!--======================================================================-->
    <type name="Magento\Elasticsearch\Model\Adapter\BatchDataMapper\ProductDataMapper">
        <plugin name="Amasty_Shopby::AdditionalBatchDataMapper"
                type="Amasty\Shopby\Plugin\Elasticsearch\Model\Adapter\AdditionalBatchDataMapper"/>
    </type>
    <type name="Magento\Elasticsearch\Elasticsearch5\Model\Adapter\DataMapper\ProductDataMapper">
        <plugin name="Amasty_Shopby::AdditionalBatchDataMapper5"
                type="Amasty\Shopby\Plugin\Elasticsearch\Model\Adapter\AdditionalBatchDataMapper"/>
    </type>
    <!--======================================================================-->
    <type name="Magento\Elasticsearch\Model\Adapter\FieldMapper\ProductFieldMapper">
        <plugin name="Amasty_Shopby::AdditionalFieldMapper"
                type="Amasty\Shopby\Plugin\Elasticsearch\Model\Adapter\AdditionalFieldMapper"/>
    </type>
    <type name="Magento\Elasticsearch\Elasticsearch5\Model\Adapter\FieldMapper\ProductFieldMapper">
        <plugin name="Amasty_Shopby::AdditionalFieldMapper5"
                type="Amasty\Shopby\Plugin\Elasticsearch\Model\Adapter\AdditionalFieldMapper"/>
    </type>
    <type name="Magento\Elasticsearch6\Model\Adapter\FieldMapper\ProductFieldMapper">
        <plugin name="Amasty_Shopby::AdditionalFieldMapper6"
                type="Amasty\Shopby\Plugin\Elasticsearch\Model\Adapter\AdditionalFieldMapper"/>
    </type>
    <!--======================================================================-->
    <type name="Amasty\ElasticSearch\Model\Indexer\Structure\EntityBuilder\Product">
        <plugin name="Amasty_Shopby::AdditionalFieldMapper"
                type="Amasty\Shopby\Plugin\Elasticsearch\Model\Adapter\AdditionalFieldMapper"/>
    </type>
    <type name="Amasty\ElasticSearch\Model\Search\GetRequestQuery\GetAggregations\FieldMapper">
        <plugin name="Amasty_Shopby::AdditionalFieldMapper"
                type="Amasty\Shopby\Plugin\Elasticsearch\Model\Adapter\AdditionalFieldMapper"/>
    </type>
    <type name="Amasty\ElasticSearch\Model\Indexer\Data\Product\ProductDataMapper">
        <plugin name="Amasty_Shopby::AdditionalBatchDataMapper"
                type="Amasty\Shopby\Plugin\Elasticsearch\Model\Adapter\AdditionalBatchDataMapper"/>
    </type>
    <!--======================================================================-->

    <type name="\Magento\Catalog\Model\ResourceModel\Product\Indexer\Price\DefaultPrice">
        <plugin name="Amasty_Shopby::PriceRuleIndexerFixer"
                type="Amasty\Shopby\Plugin\Catalog\Model\ResourceModel\Product\Indexer\Price\DefaultPrice"/>
    </type>

    <type name="\Magento\ConfigurableProduct\Model\ResourceModel\Product\Indexer\Price\Configurable">
        <plugin name="Amasty_Shopby::PriceRuleIndexerFixerConfigurable"
                type="Amasty\Shopby\Plugin\Catalog\Model\ResourceModel\Product\Indexer\Price\Configurable"/>
    </type>

    <type name="\Magento\Catalog\Model\ResourceModel\Product\Indexer\Price\SimpleProductPrice">
        <plugin name="Amasty_Shopby::PriceRuleIndexerFixer.2.2.6"
                type="Amasty\Shopby\Plugin\Catalog\Model\ResourceModel\Product\Indexer\Price\Dimensional\Simple"/>
    </type>

    <type name="\Magento\ConfigurableProduct\Model\ResourceModel\Product\Indexer\Price\Configurable">
        <plugin name="Amasty_Shopby::PriceRuleIndexerFixerConfigurable.2.2.6"
                type="Amasty\Shopby\Plugin\Catalog\Model\ResourceModel\Product\Indexer\Price\Dimensional\Configurable"/>
    </type>

    <type name="Magento\CatalogRule\Model\Indexer\RuleProductPricesPersistor">
        <plugin name="Amasty_Shopby::PriceIndexerInvalidator"
                type="Amasty\Shopby\Plugin\CatalogRule\Model\Indexer\RuleProductPricesPersistor"/>
    </type>

</config>
