<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::system">
                    <resource id="Mirasvit_Sorting::sorting" title="Mirasvit Improved Sorting" sortOrder="1000"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
