<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <tmg_customer_pricing>
            <customer_pricing_service>
                <wsdl_url>https://api.themagnetgroup.com/CustomerPricing/CustomerPricingService.svc?wsdl</wsdl_url>
                <debug_mode>1</debug_mode>
            </customer_pricing_service>
        </tmg_customer_pricing>
    </default>
</config>