<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<acht>
				<active>1</active>
				<model>Visiture\Achtandcss\Model\Payment\Acht</model>
				<order_status>processing</order_status>
				<title>Acht</title>
				<allowspecific>0</allowspecific>
				<group>achtcc</group>
				<payment_action>authorize_capture</payment_action>
			</acht>
			<cc>
				<active>1</active>
				<model>Visiture\Achtandcss\Model\Payment\Cc</model>
				<order_status>processing</order_status>
				<title>cc</title>
				<allowspecific>0</allowspecific>
				<cctypes>AE,VI,MC,DI</cctypes>
				<group>achtcc</group>
				<payment_action>authorize_capture</payment_action>
			</cc>
		</payment>
	</default>
</config>
