<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Ubertheme.com All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- events related to catalog category-->
    <event name="catalog_category_save_after">
        <observer name="ubmgmn_catalog_category_save_after" instance="Ubertheme\UbMegaMenu\Observer\Backend\CatalogCategorySaveAfterObserver"/>
    </event>
    <event name="catalog_category_delete_after">
        <observer name="ubmgmn_catalog_category_delete_after" instance="Ubertheme\UbMegaMenu\Observer\Backend\CatalogCategoryDeleteAfterObserver"/>
    </event>
    <!-- events delete cmspage -->
    <event name="adminhtml_cmspage_on_delete">
        <observer name="ubmgmn_adminhtml_cmspage_on_delete" instance="Ubertheme\UbMegaMenu\Observer\Backend\CmsPageDeleteAfterObserver"/>
    </event>
</config>
