<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Ubertheme.com All rights reserved.
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ubertheme" translate="label" sortOrder="999">
            <label>UberTheme</label>
        </tab>
        <section id="ubmegamenu" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>UB Mega Menu</label>
            <tab>ubertheme</tab>
            <resource>Ubertheme_UbMegaMenu::settings</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="show_number_product" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Product Quantity</label>
                    <comment>Apply for Category Menu Type only. </comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="default_mega_col_width" translate="label comment" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mega Column Width</label>
                    <comment>Set a default value(px)</comment>
                    <validate>required-entry validate-digits validate-digits-range digits-range-0-1900</validate>
                </field>
                <field id="mega_content_visible_in" translate="label" type="multiselect" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Mega Content On</label>
                    <source_model>Ubertheme\UbMegaMenu\Model\Config\Source\Devices</source_model>
                    <comment>Mega Content (Description, Custom Content, Static Blocks) will be enabled for all devices by default. Deselect specific devices you wish to hide mega content. </comment>
                </field>
                <field id="end_level" translate="label comment" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Menu Level Limit</label>
                    <comment>Set a default limit of nested menu items displayed on the storefront. Default value: 10.</comment>
                    <validate>required-entry validate-digits validate-digits-range digits-range-0-10</validate>
                </field>
                <field id="enable_font_awesome" translate="label comment" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Font Awesome</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="auto_sync_category_menu_item" translate="label comment" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auto submenu sync</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If Yes, whenever you create a new sub-category associated with a parent category available in your mega menu, a submenu item for such sub-category will automatically be created. Default value is Yes.</comment>
                </field>
                <field id="auto_sync_cmspage_menu_item" translate="label comment" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auto CMS Page Sync</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If Yes, when you remove a CMS page, menu items associated with such CMS page will be automatically deleted. Default value is No. </comment>
                </field>
            </group>
        </section>
    </system>
</config>
