<?xml version="1.0"?>
<!--
/**
 * @copyright: Copyright © 2017 Firebear Studio. All rights reserved.
 * @author   : Firebear Studio <fbeardev@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogImportExport\Model\Export\RowCustomizer\Composite">
        <arguments>
            <argument name="customizers" xsi:type="array">
                <item name="weeTax" xsi:type="string">Firebear\ImportExport\Model\Export\RowCustomizer\Tax</item>
                <item name="bundleProduct" xsi:type="string">Magento\BundleImportExport\Model\Export\RowCustomizer</item>
                <item name="gropedProduct" xsi:type="string">Magento\GroupedImportExport\Model\Export\RowCustomizer</item>
                <item name="configurableProduct" xsi:type="string">Magento\ConfigurableImportExport\Model\Export\RowCustomizer</item>
            </argument>
        </arguments>
    </type>
    <type name="Firebear\ImportExport\Model\Job\DataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">Firebear\ImportExport\Model\Job\DataProvider\Modifier\Pool</argument>
        </arguments>
    </type>
    <virtualType name="Firebear\ImportExport\Model\Job\DataProvider\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="advancedImport" xsi:type="array">
                    <item name="class" xsi:type="string">Firebear\ImportExport\Ui\DataProvider\Import\Job\Form\Modifier\AdvancedImport</item>
                    <item name="sortOrder" xsi:type="number">200000</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Firebear\ImportExport\Model\ExportJob\DataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">Firebear\ImportExport\Model\ExportJob\DataProvider\Modifier\Pool</argument>
        </arguments>
    </type>
    <virtualType name="Firebear\ImportExport\Model\ExportJob\DataProvider\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="advancedExport" xsi:type="array">
                    <item name="class" xsi:type="string">Firebear\ImportExport\Ui\DataProvider\Export\Job\Form\Modifier\AdvancedExport</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
