<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_ShopbyBase
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Amasty_Shopby:etc/config.xsd">
    <preference for="Amasty\ShopbyBase\Api\Data\FilterSettingRepositoryInterface"
                type="Amasty\ShopbyBase\Model\FilterSettingRepository" />
    <preference for="Amasty\ShopbyBase\Api\Data\OptionSettingRepositoryInterface"
                type="Amasty\ShopbyBase\Model\OptionSettingRepository" />
    <preference for="Amasty\ShopbyBase\Api\Data\FilterSettingInterface" type="Amasty\ShopbyBase\Model\FilterSetting" />
    <preference for="Amasty\ShopbyBase\Api\Data\OptionSettingInterface" type="Amasty\ShopbyBase\Model\OptionSetting" />
    <preference for="Amasty\ShopbyBase\Api\UrlBuilderInterface" type="Amasty\ShopbyBase\Model\UrlBuilder" />

    <type name="Amasty\XmlSitemap\Model\Sitemap">
        <plugin name="Amasty_ShopbyBase::add-brand-pages" type="Amasty\ShopbyBase\Plugin\XmlSitemap\Model\Sitemap" />
    </type>

    <type name="Magento\Sitemap\Model\Sitemap">
        <plugin name="Amasty_ShopbyBase::add-brand-pages-to-default_sitemap" type="Amasty\ShopbyBase\Plugin\XmlSitemap\Model\DefaultSitemap" />
    </type>
</config>
