<!--@subject Design Shared By Friend @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"htmlescape var=$customer.password":"Customer New Password"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
            <!-- [ header starts here] -->
            <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0; padding:40px;">
                <tr>
                    <td style="padding:0;">
                        <table width="100%"> 
                            <tbody>
                                <tr>
                                    <td valign="top" align="left">
                                        <!-- <a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/></a> -->
                                        <a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0" height="50px" /></a>
                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding:0;">
                        <table width="100%" style="margin:40px 0 0 0;" >
                            <tbody>
                                <tr><td style="font-size: 16px;font-weight: bold;text-align: center;">Check this cool design :</td></tr>
                                <tr>
                                    
                                    <td valign="middle" align="center" width="168" height="192">
                                        <img src="{{var media_fb_path}}" style="border: 1px solid #d1d1d1;max-width: 100%;">
                                    </td>
                                    
                                    <td valign="center" align="right" width="164" height="192" style="padding: 0;">
                                        <table>
                                            <tr>
                                                <td style="height: 60px; padding: 0; text-align: center;">
                                                    <a href="{{var mediUrl}}" style="background:#51bdae; border: 2px solid #3d8f83; padding:20px; color:#fff; font-size:14px; text-decoration:none; font-weight:bold; margin: 0 0 10px 0;">Edit Design</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</div>
</body>
