<?xml version="1.0"?>
<!--
/**
 * @copyright: Copyright © 2017 Firebear Studio. All rights reserved.
 * @author   : Firebear Studio <fbeardev@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <firebear_importexport>
            <general>
                <create_attributes>1</create_attributes>
                <debug>1</debug>
            </general>
            <ftp>
                <port>21</port>
            </ftp>
            <entities>
                <advanced_pricing>Firebear\ImportExport\Model\Export\AdvancedPricing</advanced_pricing>
                <catalog_product>Firebear\ImportExport\Model\Export\Product</catalog_product>
                <customer>Firebear\ImportExport\Model\Export\Customer</customer>
                <customer_address>Firebear\ImportExport\Model\Export\Address</customer_address>
                <order>Firebear\ImportExport\Model\Export\Orders</order>
                <adapter>
                    <csv>Firebear\ImportExport\Model\Export\Adapter\Csv</csv>
                </adapter>
            </entities>
            <page_size>
                <attribute>5000</attribute>
            </page_size>
            <event>
                <available>catalog_product_save_after,sales_order_save_after,checkout_submit_all_after</available>
            </event>			
        </firebear_importexport>
    </default>
</config>
