<?xml version="1.0"?>
<!--
/**
 * @copyright: Copyright © 2017 Firebear Studio. All rights reserved.
 * @author   : Firebear Studio <fbeardev@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Firebear\ImportExport\Model\Source\ConfigInterface"
                type="Firebear\ImportExport\Model\Source\Config"/>
    <preference for="Firebear\ImportExport\Api\Data\ExportInterface" type="Firebear\ImportExport\Model\ExportJob"/>
    <preference for="Firebear\ImportExport\Api\ExportJobRepositoryInterface"
                type="Firebear\ImportExport\Model\ExportJobRepository"/>
    <preference for="Firebear\ImportExport\Api\Data\ImportInterface" type="Firebear\ImportExport\Model\Job"/>
    <preference for="Firebear\ImportExport\Api\Data\ImportMappingInterface"
                type="Firebear\ImportExport\Model\Job\Mapping"/>
    <preference for="Firebear\ImportExport\Api\Data\ImportHistoryInterface"
                type="Firebear\ImportExport\Model\Import\History"/>
    <preference for="Firebear\ImportExport\Api\Data\ExportHistoryInterface"
                type="Firebear\ImportExport\Model\Export\History"/>
    <preference for="Firebear\ImportExport\Api\JobRepositoryInterface"
                type="Firebear\ImportExport\Model\JobRepository"/>
    <preference for="Firebear\ImportExport\Api\JobMappingRepositoryInterface"
                type="Firebear\ImportExport\Model\Job\MappingRepository"/>
    <preference for="Firebear\ImportExport\Api\HistoryRepositoryInterface"
                type="Firebear\ImportExport\Model\Import\HistoryRepository"/>
    <preference for="Firebear\ImportExport\Api\ExHistoryRepositoryInterface"
                type="Firebear\ImportExport\Model\Export\HistoryRepository"/>
    <type name="Magento\ImportExport\Block\Adminhtml\Import\Edit\Before">
        <plugin name="firebear_importexport_block_import_before"
                type="Firebear\ImportExport\Plugin\Block\Adminhtml\Import\Edit\Before"/>
    </type>
    <type name="Magento\BundleImportExport\Model\Import\Product\Type\Bundle\RelationsDataSaver">
        <plugin name="addBundleRelations"
                type="\Firebear\ImportExport\Plugin\Model\Import\Product\Type\Bundle\RelationsDataSaver"/>
    </type>
    <type name="Magento\ConfigurableImportExport\Model\Export\RowCustomizer">
        <plugin name="prepareJobs" type="\Firebear\ImportExport\Plugin\Model\Export\RowCustomizer"/>
    </type>
    <type name="Magento\Catalog\Block\Adminhtml\Category\Checkboxes\Tree">
        <plugin name="firebear_importexport_set_rule_chooser_url"
                type="Firebear\ImportExport\Plugin\Block\Adminhtml\Category\Checkboxes\Tree"/>
    </type>
    <type name="Magento\Cron\Model\Config\Data">
        <plugin name="getJobs" type="\Firebear\ImportExport\Plugin\Config\Data"/>
    </type>
    <type name="Magento\CatalogImportExport\Model\Export\RowCustomizer\Composite">
        <arguments>
            <argument name="customizers" xsi:type="array">
                <item name="weeTax" xsi:type="string">Firebear\ImportExport\Model\Export\RowCustomizer\Tax</item>
                <item name="bundleProduct" xsi:type="string">Magento\BundleImportExport\Model\Export\RowCustomizer</item>
                <item name="gropedProduct" xsi:type="string">Magento\GroupedImportExport\Model\Export\RowCustomizer</item>
                <item name="configurableProduct" xsi:type="string">Magento\ConfigurableImportExport\Model\Export\RowCustomizer</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\CatalogImportExport\Model\Export\RowCustomizer\Composite"
                type="Firebear\ImportExport\Model\Export\RowCustomizer\Composite"/>
    <preference for="Magento\CatalogImportExport\Model\Import\Product\Validator"
                type="Firebear\ImportExport\Model\Import\Product\Validator"/>
    <type name="Firebear\ImportExport\Model\Import\Product\Validator">
        <plugin name="firebear_importexport_import_product_validator"
                type="Firebear\ImportExport\Plugin\Model\Import\Product\Validator"/>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="import_job_grid_data_source" xsi:type="string">Firebear\ImportExport\Model\ResourceModel\Job\Grid\Collection</item>
                <item name="export_job_grid_data_source" xsi:type="string">Firebear\ImportExport\Model\ResourceModel\ExportJob\Grid\Collection</item>
                <item name="import_history_grid_data_source" xsi:type="string">Firebear\ImportExport\Model\ResourceModel\Import\History\Grid\Collection</item>
                <item name="export_history_grid_data_source" xsi:type="string">Firebear\ImportExport\Model\ResourceModel\Export\History\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Firebear\ImportExport\Model\ResourceModel\Job\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">firebear_import_jobs</argument>
            <argument name="eventPrefix" xsi:type="string">import_job_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">job_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Firebear\ImpoerExport\Model\ResourceModel\Job</argument>
        </arguments>
    </type>
    <type name="Firebear\ImportExport\Model\ResourceModel\ExportJob\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">firebear_export_jobs</argument>
            <argument name="eventPrefix" xsi:type="string">export_job_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">exportjob_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Firebear\ImportExport\Model\ResourceModel\ExportJob</argument>
        </arguments>
    </type>
    <type name="Firebear\ImportExport\Model\ResourceModel\Import\History\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">firebear_import_history</argument>
            <argument name="eventPrefix" xsi:type="string">import_history_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">import_history_collection</argument>
            <argument name="resourceModel" xsi:type="string">Firebear\ImportExport\Model\ResourceModel\Import\History</argument>
        </arguments>
    </type>
    <type name="Firebear\ImportExport\Model\ResourceModel\Export\History\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">firebear_export_history</argument>
            <argument name="eventPrefix" xsi:type="string">export_history_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">export_history_collection</argument>
            <argument name="resourceModel" xsi:type="string">Firebear\ImportExport\Model\ResourceModel\Export\History
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogImportExport\Model\Import\Product\OptionFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">\Firebear\ImportExport\Model\Import\Product\Option</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="importJobRun" xsi:type="object">Firebear\ImportExport\Console\Command\ImportJobRunCommand</item>
                <item name="importJobEnable" xsi:type="object">Firebear\ImportExport\Console\Command\ImportJobEnableCommand</item>
                <item name="importJobDisable" xsi:type="object">Firebear\ImportExport\Console\Command\ImportJobDisableCommand</item>
                <item name="exportJobRun" xsi:type="object">Firebear\ImportExport\Console\Command\ExportJobRunCommand</item>
                <item name="exportJobEnable" xsi:type="object">Firebear\ImportExport\Console\Command\ExportJobEnableCommand</item>
                <item name="exportJobDisable" xsi:type="object">Firebear\ImportExport\Console\Command\ExportJobDisableCommand</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Firebear\ImportExport\Api\Data\ExportInterface" xsi:type="string">Firebear\ImportExport\Api\ExportJobRepositoryInterface</item>
                <item name="Firebear\ImportExport\Api\Data\ImportInterface" xsi:type="string">Firebear\ImportExport\Api\JobRepositoryInterface</item>
                <item name="Firebear\ImportExport\Api\Data\ImportMappingInterface" xsi:type="string">Firebear\ImportExport\Api\JobMappingRepositoryInterface</item>
                <item name="Firebear\ImportExport\Api\Data\ImportHistoryInterface" xsi:type="string">Firebear\ImportExport\Api\HistoryRepositoryInterface</item>
                <item name="Firebear\ImportExport\Api\Data\ExportHistoryInterface" xsi:type="string">Firebear\ImportExport\Api\ExHistoryRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Firebear\ImportExport\Api\Data\ExportInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">firebear_export_jobs</item>
                    <item name="identifierField" xsi:type="string">entity_id</item>
                </item>
                <item name="Firebear\ImportExport\Api\Data\ImportInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">firebear_import_jobs</item>
                    <item name="identifierField" xsi:type="string">entity_id</item>
                </item>
                <item name="Firebear\ImportExport\Api\Data\ImportMappingInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">firebear_import_job_mapping</item>
                    <item name="identifierField" xsi:type="string">entity_id</item>
                </item>
                <item name="Firebear\ImportExport\Api\Data\ImportHistoryInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">firebear_import_history</item>
                    <item name="identifierField" xsi:type="string">history_id</item>
                </item>
                <item name="Firebear\ImportExport\Api\Data\ExportHistoryInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">firebear_export_history</item>
                    <item name="identifierField" xsi:type="string">history_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Firebear\ImportExport\Api\Data\ExportInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
                <item name="Firebear\ImportExport\Api\Data\ImportInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
                <item name="Firebear\ImportExport\Api\Data\ImportMappingInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
                <item name="Firebear\ImportExport\Api\Data\ImportHistoryInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
                <item name="Firebear\ImportExport\Api\Data\ExportHistoryInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="JobRelationsComposite"
                 type="Magento\Framework\Model\ResourceModel\Db\VersionControl\RelationComposite">
        <arguments>
            <argument name="relationProcessors" xsi:type="array">
                <item name="default" xsi:type="object">Firebear\ImportExport\Model\ResourceModel\Job\Relation</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Firebear\ImportExport\Model\ResourceModel\Job">
        <arguments>
            <argument name="entityRelationComposite" xsi:type="object">JobRelationsComposite</argument>
        </arguments>
    </type>
    <virtualType name="PlatformSchemaLocator" type="Firebear\ImportExport\Model\AbstractSchemaLocator">
        <arguments>
            <argument name="fileName" xsi:type="string">platforms.xsd</argument>
        </arguments>
    </virtualType>
    <virtualType name="PlatformReader" type="Firebear\ImportExport\Model\AbstractReader">
        <arguments>
            <argument name="fileName" xsi:type="string">platforms.xml</argument>
            <argument name="converter" xsi:type="object">Firebear\ImportExport\Model\Source\Platform\Config\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">PlatformSchemaLocator</argument>
        </arguments>
    </virtualType>
    <type name="Firebear\ImportExport\Model\Source\Platform\Config">
        <arguments>
            <argument name="reader" xsi:type="object">PlatformReader</argument>
            <argument name="cacheId" xsi:type="string">firebear_importexport_platforms_config</argument>
        </arguments>
    </type>
    <virtualType name="TypeFileSchemaLocator" type="Firebear\ImportExport\Model\AbstractSchemaLocator">
        <arguments>
            <argument name="fileName" xsi:type="string">format_files.xsd</argument>
        </arguments>
    </virtualType>
    <virtualType name="TypeFileReader" type="Firebear\ImportExport\Model\AbstractReader">
        <arguments>
            <argument name="fileName" xsi:type="string">format_files.xml</argument>
            <argument name="converter" xsi:type="object">Firebear\ImportExport\Model\Source\Type\File\Config\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">TypeFileSchemaLocator</argument>
        </arguments>
    </virtualType>
    <type name="Firebear\ImportExport\Model\Source\Type\File\Config">
        <arguments>
            <argument name="reader" xsi:type="object">TypeFileReader</argument>
            <argument name="cacheId" xsi:type="string">firebear_importexport_type_file_config</argument>
        </arguments>
    </type>
    <virtualType name="FireMenuSchemaLocator" type="Firebear\ImportExport\Model\AbstractSchemaLocator">
        <arguments>
            <argument name="fileName" xsi:type="string">firebear_menu.xsd</argument>
        </arguments>
    </virtualType>
    <virtualType name="FireMenuReader" type="Firebear\ImportExport\Model\AbstractReader">
        <arguments>
            <argument name="fileName" xsi:type="string">firebear_menu.xml</argument>
            <argument name="converter" xsi:type="object">Firebear\ImportExport\Model\Source\Menu\Config\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">FireMenuSchemaLocator</argument>
        </arguments>
    </virtualType>
    <type name="Firebear\ImportExport\Model\Source\Menu\Config">
        <arguments>
            <argument name="reader" xsi:type="object">FireMenuReader</argument>
            <argument name="cacheId" xsi:type="string">firebear_importexport_menu_config</argument>
        </arguments>
    </type>
    <virtualType name="ImportSchemaLocator" type="Firebear\ImportExport\Model\AbstractSchemaLocator">
        <arguments>
            <argument name="fileName" xsi:type="string">firebear_import.xsd</argument>
        </arguments>
    </virtualType>
    <virtualType name="ImportReader" type="Firebear\ImportExport\Model\AbstractReader">
        <arguments>
            <argument name="fileName" xsi:type="string">firebear_import.xml</argument>
            <argument name="converter" xsi:type="object">Firebear\ImportExport\Model\Source\Import\Config\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">ImportSchemaLocator</argument>
            <argument name="idAttributes" xsi:type="array">
                <item name="/config/entity" xsi:type="string">name</item>
                <item name="/config/entityType" xsi:type="array">
                    <item name="0" xsi:type="string">entity</item>
                    <item name="1" xsi:type="string">name</item>
                </item>
                <item name="/config/relatedIndexer" xsi:type="array">
                    <item name="0" xsi:type="string">entity</item>
                    <item name="1" xsi:type="string">name</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Firebear\ImportExport\Model\Source\Import\Config">
        <arguments>
            <argument name="reader" xsi:type="object">ImportReader</argument>
            <argument name="cacheId" xsi:type="string">firebear_importexport_import_config</argument>
        </arguments>
    </type>
    <type name="Firebear\ImportExport\Model\Import\Attribute">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="data_source_model" xsi:type="object">Firebear\ImportExport\Model\ResourceModel\Import\Data</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Asset\Minification">
        <plugin name="excludeFilesFromMinification"
                type="Firebear\ImportExport\Plugin\Framework\View\Asset\ExcludeFilesFromMinification"/>
    </type>
    <type name="Firebear\ImportExport\Model\Import\Product\Type\Downloadable">
        <arguments>
            <argument name="uploaderHelper" xsi:type="object">Firebear\ImportExport\Helper\Uploader</argument>
        </arguments>
    </type>
    <preference for="Firebear\ImportExport\Api\UrlKeyManagerInterface"
                type="Firebear\ImportExport\Model\Import\Product\UrlKeyManager" />
    <preference for="Firebear\ImportExport\Api\JobManagementInterface"
                type="Firebear\ImportExport\Model\Job\Management" />
</config>