<?xml version="1.0"?>
<!--
/**
 * @copyright: Copyright © 2017 Firebear Studio. All rights reserved.
 * @author   : Firebear Studio <fbeardev@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="Firebear_ImportExport" instance="Firebear\ImportExport\Observer\ExportJobObserver" />
    </event>
    <event name="sales_order_save_after">
        <observer name="Firebear_ImportExport" instance="Firebear\ImportExport\Observer\ExportJobObserver" />
    </event>
    <event name="checkout_submit_all_after">
        <observer name="Firebear_ImportExport" instance="Firebear\ImportExport\Observer\ExportJobObserver" />
    </event>	
</config>
