<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>        
        <add id="Shreeji_Duplicateimage::find_duplicate" title="Manage Duplicate Images" translate="title" module="Shreeji_Duplicateimage" sortOrder="30" parent="Magento_Catalog::inventory" action="duplicateimage/manage/" resource="Shreeji_Duplicateimage::duplicateimages"/>        
    </menu>
</config>
