<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="bss" translate="label" sortOrder="300">
			<label>Bss Commerce</label>
		</tab>
		<section id="livechat" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<label>Live Chat</label>
			<tab>bss</tab>
			<resource>Bss_LiveChat::config_bss_livechat</resource>
			<group id="general" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>General Configuration</label>
				<field id="enable" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Enable</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>

				<field id="config" type="editor" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Live Chat Config</label>
					<comment/>
				</field>
			</group>
		</section>
	</system>
</config>
