<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">        
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="duplicate_image_listing_data_source" xsi:type="string">Shreeji\Duplicateimage\Model\ResourceModel\Duplicateimage\Grid\Collection</item>                
            </argument>
        </arguments>
    </type>
    <type name="Shreeji\Duplicateimage\Model\ResourceModel\Duplicateimage\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">shreeji_duplicateimage</argument>
            <argument name="eventPrefix" xsi:type="string">duplicate_image_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">images_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Shreeji\Duplicateimage\Model\ResourceModel\Duplicateimage</argument>
        </arguments>
    </type>    
    <virtualType name="DuplicateimageGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>                
</config>
