<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="configurableproductwholesale" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="customize" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Customize</label>
                <field id="text_special_price" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Message Special Pricing ]]></label>
                    <comment><![CDATA[Show message when special pricing is not available for that sku when a wholesale user is logged in.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>