/* .detail-form-fields {
    border-top: 1px solid #ccc;
    margin-top: 15px;
} */

#shipping-result-form-bo {
    /* margin-top: 15px;
    border: 1px dotted red;
    padding: 10px; */
}

.shipping-result-form-border {
    margin-top: 15px;
    border: 1px dotted red;
    padding: 10px;
}

.shipping-method-title {
    margin-left: 25px !important;
}

.detail-form-fields ul {
    margin-top: 15px;
    padding-left: 0;
}

.detail-form-fields ul li {
    list-style: none;
}

.my-require {
    color: red;
    margin-left: 5px;
}

.validate-my-input {
    border: 1px dashed red !important;
}

.validate-my-input-none {
    border: 1px solid #c2c2c2;
}

/* *********************** */

.custom-combobox {
    position: relative;
    display: inline-block;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}




.product-options-bottom  .box-tocart .actions-contact-us .contact-click {
    background: #d11010;
    border: 1px solid #d11010;
    width: 230px !important;
    line-height: 2.2rem;
    padding: 14px 17px;
    font-size: 1.8rem;
    max-width: 100%;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
}

.product-options-bottom  .primary button{background: #d11010;
    border: 1px solid #d11010;    
    width: 230px;
    line-height: 2.2rem;
    padding: 14px 17px !important;
    font-size: 1.8rem !important; 
    max-width: 100%;
    text-align: center;
    color: #ffffff;}