#est-shipping-cost{
    background-color: #fff;
    border: 1px solid #ccc;
    left: 50%;
    margin-left: -250px;
    margin-top: -100px;
    max-height: 480px;
    min-height: 100px;
    position: fixed;
    text-align: left;
    top: 30%;
    max-width: 500px;
    width: 70%;
    z-index: 9999;
    border-radius: 3px;
}

#est-shipping-cost .pop-title {
    font-weight: bold;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

#est-shipping-cost .product-info .product-name{
    color:#1979c3;
    font-weight: 600;
}

#est-shipping-cost img.image {
    float: left;
    max-width: 100%;
    width: 35%;
    max-height: 220px;
}

#est-shipping-cost .close_x {
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 30px;
    font-weight: bold; 
    text-decoration: none;
    line-height: 100%;
}

#est-shipping-cost .the-action {
    margin-top: 10px;
    padding-bottom:15px;
}

#est-shipping-cost .view-cart{
    color: #3385ff;
    font-weight: 600;
}

#nb-estshipping-cost-loading1 {
    background: #f0f0f0 url("../images/please-wait.gif") no-repeat scroll center center;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px #888888;
    height: 145px;
    left: 50%;
    margin-left: -200px;
    margin-top: -50px;
    opacity: 0.8;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 400px;
    z-index: 10000;
}

#nb-estshipping-cost-loading {
    background: #ffffff url("../images/ProgressImage.gif") no-repeat scroll center center;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px #888888;
    height: 150px;
    width: 250px;
   
    opacity: 0.8;
    position: fixed;
  
    top: 40%;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 10000;
}

.estshipping-cost-popup-none{
    display: none;
}


#estshippingcost_content_option_product{
    background-color: #fff;
    border: 1px solid #ccc;
    left: 50%;
    /*margin-left: -250px;*/
    transform: translate(-50%,0);
    margin-top: -100px;
    max-height: 515px;
    min-height: 100px;
    max-width: 695px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    /* border-radius: 10px; */
    overflow: hidden;
    overflow-y: auto !important;
   
    /*overflow-x: none;*/
    padding: 10px;
    position: fixed;
    text-align: left;
    top: 30%;
   /* width: 500px;*/
     width: 60%;
    z-index: 9999;
    border-radius: 3px;
}
#estshippingcost_content_option_product img.image{
    max-width: 100%;
    float: left;
    width: 33%;
    margin-right:20px;
}
#estshippingcost_content_option_product #product-options-wrapper{
    float: left;
    min-width: 150px;
    width: 100%;
}
#estshippingcost_content_option_product #product-options-wrapper .product-name{
    font-size: 16px;
    font-weight: 600;

}

#estshippingcost_content_option_product #product-options-wrapper span.price{
    font-size:14px;
    font-weight: 600;
    color:#3385ff;
    line-height: 2.2rem;
}

#estshippingcost_content_option_product #product-addtocart-button{
    font-size: 1.4rem;
    padding: 7px 15px;
}
#estshippingcost_content_option_product #estshippingcost_cancel{
   line-height: 2.2rem;
   margin-right: 15px;
   display: block;
   float: right;

}

#estshippingcost_content_option_product .est_option_title{
    overflow: hidden;
    position: relative;
    padding-left: 0;
    padding-bottom: 10px;
    text-align: left;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    color: #006400;
    font-size:16px;
    font-weight: 600;
}

#estshippingcost_content_option_product .est_option_title p{
    float:left;
    margin-top: 7px;
}

#estshippingcost_content_option_product .est_option_title .close_x{
    float:right;
    font-size: 30px;
    font-weight: bold;
   /* left: 475px;*/
    position: absolute;
    /*top: 0;*/
    text-decoration: none;

    float: right;
    position: absolute;
    right: 10px;
    top: 5px;
    line-height: 25px;
}

.nb_w_item{
    display: none;
}

.est_option_content {
    width: 100% !important;
}

#estshippingcost_content_option_product .product-add-form {
    float: right;
    width: 64%;
}

#estshippingcost_content_option_product .product-options-wrapper .fieldset{
    padding-right: 10px;
}

#estshipping-cost-shadow{
    background-color: rgba(51, 51, 51, 0.55);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}
/*Pop up responsive*/

@media all and (max-width: 767px){
    #est-shipping-cost{
        margin-left:0;
        left:15%;
    }
    #estshippingcost_content_option_product{
        margin-left: 0;
        /*left:20%;*/
    }
    #nb-estshipping-cost-loading{
        margin-left: 0px;
        width: 140px;
        height: 120px;
    }
}

@media all and (max-height: 500px){
     /* #estshippingcost_content_option_product{
        overflow: hidden;
        overflow-y: auto !important;
        height:300px;
    } */
    #est-shipping-cost{
        overflow: hidden;
        overflow-y: auto !important;
        height:300px;
        top:35%;
     }
}

@media all and (max-width: 480px){
    #estshippingcost_content_option_product {
        width: 90%;
    }
    .product-item-info .btn-calculate-shipping {
        font-size: 13px!important;
    }
}

@media all and (min-width: 768px){
    .product-item-info .btn-calculate-shipping-wrapper {
        width: calc(100% - 20px) !important;
        margin-left: 10px;
    }
}

.columns {
    display: block!important;
}

#estshippingcost_content_option_product .btn-primary-estimate {
    display: none;
}

#estshippingcost_content_option_product .est_option_content {
    overflow: hidden;
    overflow-y: auto !important;
    height: 430px;
}

#estshippingcost_content_option_product .est_option_content::-webkit-scrollbar {
    width: 7px;
}
 
#estshippingcost_content_option_product .est_option_content::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10px;
}

#estshippingcost_content_option_product .actions {
    margin-top: 20px;
}

.est-description {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.catalog-product-view .select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle; 
    z-index: 9998;
}

#estimate_postcode {
    border: 1px solid #aaa;
    border-radius: 4px;
}

#shipping-input-form .zip-code .control, #shipping-input-form .li_estimate_region_id  .control{
    margin-top: 3px;
}