<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_ShopbySeo
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_generate_blocks_after">
        <observer name="Amasty_ShopbySeo:prev_next_links" instance="Amasty\ShopbySeo\Observer\LayoutGenerateBlocksAfterObserver" />
    </event>
    <event name="controller_action_predispatch">
        <observer name="Amasty_ShopbySeo::addSeoredirectForStandartRouter" instance="Amasty\ShopbySeo\Observer\FrontControllerActionPredispatch" />
    </event>
</config>
