<!-- ko repeat: {foreach: $row().factors, item: 'f'} -->
<div class="mst-sorting-preview__cell-factor">
    <div class="info">
        <label text="f().label"/>
        <span text="f().value"/>
    </div>

    <div class="bar">
        <!-- ko if: f().value > 0 -->
        <div class="positive" data-bind="style: { width: f().value / 2 + '%' }"/>
        <!-- /ko -->

        <!-- ko if: f().value < 0 -->
        <div class="negative" data-bind="style: { width: Math.abs(f().value) / 2 + '%' }"/>
        <!-- /ko -->
    </div>
</div>
<!-- /ko -->